@import "vars"


/*==========  Desktop First  ==========*/

// <1200px
+media-breakpoint-down(lg)
    .welcome
        .h1
            font-size: 56px
    .carousel-services-item
        flex-direction: column

    .s
	    &-king, &-review, &-partners
		    padding: 8% 0

    .s-call
        background-size: cover

// <992px
+media-breakpoint-down(md)
    .welcome
        .h1
            font-size: 39px
    .s-call
        &::before
           width: 100%
        .callback
            padding: 10% 0

// <768px
+media-breakpoint-down(sm)
    .welcome
        .h1
            font-size: 28px
            margin-top: 5px
        p>span
            font-size: 12px
    .header-contacts
        text-align: left
    .button
        padding: 12px 38px

    .h2
        margin: 0

    .footer-contacts .footer-phone
        font-size: 18px
    .footer-column
        margin: 30px 0

// <576px
+media-breakpoint-down(xs)
    .welcome
        .h1
            font-size: 24px
            letter-spacing: 2px
        p>span
            font-size: 10px
        strong
            margin-top: 15px
            font-size: 14px
    .header-composition
        p
            margin-top: 15px

    .quotes
        display: none
    
    .partners
        .owl-nav
            > button
                &.owl-prev
                    left: 0
                &.owl-next
                    right: 0
    .footer-phone
        font-size: 20px
    .footer-column
        margin: 10px 0
        .footer-social
            margin-top: 0
    .footer-menu
        padding-left: 25px

@media only screen and (max-width : 480px)
    .welcome 
        .h1
            font-size: 19px
            letter-spacing: none
        p>span
                font-size: 9px


/*==========  Mobile First  ==========*/

// ≥576px
+media-breakpoint-up(sm)

// ≥768px
+media-breakpoint-up(md)

// ≥992px
+media-breakpoint-up(lg)

// ≥1200px
+media-breakpoint-up(xl)
    